{% extends "base.html" %}

{% block content %}
<form action="" class="w-100" id="form">
    {% if filename %}
    <div class="w-100">
        <h3 id="filename">{{ filename }}</h3>
        {% if image %}
        <input id="text" type="text" value="text on image">
        {% elif executable %}
        <div>exe</div>
        {% else %}
        <div>
            <label for="text"></label>
            <textarea id="text" cols="60" rows="10">{{content}}</textarea>
        </div>
        {% endif %}
    </div>
    <button type="submit" class="mt-2 btn btn-primary">Submit</button>
    {% else %}
    <div class="alert alert-danger mt-3">
        File not found!
    </div>
    {% endif %}
</form>
{% endblock %}
{% block script %}
<script>
    document.getElementById("form").addEventListener("submit", async (event) => {
        event.preventDefault();
        const text = document.getElementById('text').value;
        const filename = document.getElementById('filename').innerText;

        try {
            await fetch(`/write/${filename}`, {
                method: "POST",
                body: text
            })
            window.location.href = "/user/files/" + filename;

        } catch (e) {
            console.error(e)
        }
    });
</script>
{% endblock %}